version: '3'
network:
        zyrafa-dev-net:
                default:
                        external: true

services:
        reverse-proxy:
                image: "node-reverse-proxy:stable"
                ports:
                - "443:443"

        pocketbase:
                image:

        landing:
                image:

        frontend:
                image: "fe-zyrafa-img:devop"

        mobile:
                image:
